[submodule "qemu_sources/qemu-rvv-0_7_1"]
	path = qemu_sources/qemu-rvv-0_7_1
	url = https://gitlab.com/qemu-project/qemu.git
	branch = stable-6.1

[submodule "qemu_sources/qemu-rvv-1_0"]
	path = qemu_sources/qemu-rvv-1_0
	url = https://gitlab.com/qemu-project/qemu.git
	branch = v9.0

[submodule "qemu_sources/qemu-rvv-1_0-new"]
	path = qemu_sources/qemu-rvv-1_0-new
	url = https://gitlab.com/qemu-project/qemu.git
	branch = v10.0
